.main-bar
  .main-bar__group-list
    .main-bar__group-list__group-status
      %p.main-bar__group-list__group-status__name
        test
      %p.main-bar__group-list__group-status__member
        Memder:masa
    .main-bar__group-list__group-edit  
      = link_to "#", class: "main-bar__group-list__group-edit__icon" do
        %p
          Edit
  .main-bar__messages
    .main-bar__messages__message
      .main-bar__messages__message__list
        %p.main-bar__messages__message__list__name
          name
        %p.main-bar__messages__message__list__time
          2020/02/24(Mon) 16:25:47
      .main-bar__messages__message__comment
        今日はいい天気
    .main-bar__messages__message
      .main-bar__messages__message__list
        %p.main-bar__messages__message__list__name
          name
        %p.main-bar__messages__message__list__time
          2020/02/24(Mon) 16:25:47
      .main-bar__messages__message__comment
        今日はいい天気
  .main-bar__form
    .main-bar__form__new-message
      .main-bar__form__new-message__input-box
        .main-bar__form__new-message__input-box__text
          type a message
        .main-bar__form__new-message__input-box__image
        -# %label{class: "input-box__image"}
        -#   = icon('fas', 'image')
        -#     %input{type: "file"}
      .main-bar__form__new-message__send
        send
  