.side-bar
  .side-bar__user
    .side-bar__user__top-item
      %p.side-bar__user__top-item__name
        name
      %ul.side-bar__user__top-item__menu
        %li.side-bar__user__top-item__edit-bar__user
          = link_to "#" do
            = icon('far', 'edit', class: "right-icon")
        %li.side-bar__user_top-item__new-group
          = link_to "#" do
            = icon('fas', 'cog', class: "right-icon")
  .side-bar__group-list