.side-bar
  .side-bar__user
    .side-bar__user__top-item
      .side-bar__user__top-item__name
        name
      .side-bar__user__top-item__icon
      = link_to "#" do
        = icon('far', 'edit')
      = link_to "#" do
        = icon('fas', 'cog')
  .side-bar__group-list