.side-bar {
  width: 300px; 
  float: left;
  .side-bar__user{
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    .side-bar__user__top-item{
      background-color: #333333;
      margin: 0 auto;
      height: 20px;
      width: 220px;
    }
  }
  .side-bar__group-list{
    background-color: #2f3e51;
    height: calc(100vh - 100px);
  }
 }

 .main-bar {
   width: calc(100vw - 300px);
   float: right;
   .main-bar__group-name{
    background-color: #ffffff;
    height: 100px;
   }
   .main-bar__message-list{
     background-color: #fafafa;
     height: calc(100vh - 100px - 90px);
   }
   .main-bar__message-send{
     background-color: #d2d2d2;
     height: 90px;

   }
 }